@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
}
.logo {
  margin-left: 170px;
  color: #f9faf8;
  font-size: 24px;
}
.links {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin-right: 170px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.section-1 {
  display: flex;
  background-color: #1f2937;
  padding-top: 80px;
  padding-bottom: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1 1 150px;
}

.title,
.text,
button {
  margin-left: 170px;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  max-width: 500px;
  color: #f9faf8;
}
.text {
  max-width: 500px;
  font-size: 18px;
  color: #e5e7eb;
}

button {
  max-width: 130px;
  margin-top: 10px;
  height: 35px;
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  border: 2px solid #3882f6;
  width: 130px;
  cursor: pointer;
}
.place-holder-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 160px;
  color: white;
  flex-shrink: 0;
  background-color: grey;
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 220px;
}

.text-2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 7px;
  text-align: center;
}

.info-2 {
  max-width: 150px;
  color: rgb(56, 56, 56);
}

img {
  display: flex;
  max-width: 200px;
  max-height: 150px;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #273343;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  max-width: 800px;
  padding-left: 150px;
  margin-right: 100px;
  text-align: justify;
  flex-direction: column;
}

.author {
  font-weight: bold;
  color: #1f2937;
  margin-left: 700px;
  margin-bottom: 100px;
  justify-content: center;
}

.section-4 {
  display: flex;
}

.card {
  display: flex;
  flex-direction: row;
  margin-left: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #3882f6;
  color: white;
  padding: 42px;
  margin-bottom: 75px;
  border-radius: 20px;
}

.group-text > .text-3 {
  font-weight: bold;
}
.group-text > .text-4 {
  color: #e5e7eb;
}

#button-1 {
  flex-shrink: 0;
  border-color: #f9faf8;
}

.footer {
  padding:42px;
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
}
